@import "../../mixins/mixins-master";

.rn-header {
  background-color: var(--White);
  padding: 0.6rem 0;
  
  @include md-up {
    padding: 1.6rem 0;
  }

  @include lg-up {
    padding: 2.4rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include lg-up {
      justify-content: flex-start;
    }
  }

  &__logo {
    
    img {
      height: 4.8rem;
      width: auto;
      display: block;
      
      @include md-up {
        height: 4.8rem;
      }
    }
  }
}
