section {
  padding-block: var(--block-gap);
  header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 50rem;
    margin: auto;
    @include md-up {
      gap: 1.2rem;
    }
    @include lg-up {
      max-width: 90rem;
      gap: 1.6rem;
    }

    p {
      font-size: 1.4rem;
      @include md-up {
        font-size: 1.6rem;
      }
      @include lg-up {
        font-size: 1.8rem;
      }
    }
  }
}

.container {
  width: min(calc(100% - 4rem), 5.8rem);
  @include md-up {
    width: min(calc(100% - 4rem), 71.6rem);
  }
  @include lg-up {
    width: min(calc(100% - 4rem), 128.3rem);
  }
  margin: auto;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  gap: 2rem; // Mobile gap first

  @include md-up {
    gap: 4rem;
  }
}

.btns-wrp {
  display: flex;
  justify-content: flex-start; // Mobile alignment first
  width: 100%;

  @include md-up {
    justify-content: center;
  }
}

.btn-item {
  display: flex;
  flex-direction: column;
  min-width: min(100%, 35rem); // Mobile width first
  text-align: center;
  justify-self: flex-start;
  gap: 0.6rem;
  transition: 0.3s opacity ease;
  &:hover {
    opacity: 0.9;
  }
  @include lg-up {
    min-width: min(100%, 38rem);
  }
  span {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 0.3rem;
    color: var(--Dark-Grey);
  }

  &.center-btn {
    justify-self: center;
    align-self: center;
  }
}

.btn {
  padding: 1.7rem 2rem 1.5rem 2rem;
  color: var(--Mint-Green);
  border-radius: 7.9592rem;

  background: transparent;
  color: var(--Primary);
  border: solid 1px var(--Primary);
  text-align: center;
  font-family: var(--font-titles);
  font-size: var(--btn-font);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  font-family: var(--font-text);

  @include lg-up {
    border-radius: 9.4789rem;
    padding: 1.85rem 4rem 1.55rem 4rem;
  }

  &.active {
    background-color: var((--Primary));
    color: var(--White);
  }

  &--small {
    font-size: 1.4rem;
  }

  &--secondary {
    color: var(--Secondary-2);
    border: solid 1px var(--Secondary-2);
    &.active {
      background-color: var(--Secondary-2);
    }
  }
}

details {
  summary {
    padding: 1.2rem 6.4rem 1.2rem 0;
    font-size: 0;
    background-color: white;
    border-bottom: 1px solid var(--Light-Grey, #e0e0e0);
    @include md-up {
      padding: 2rem 8rem 2rem 0;
    }
    @include lg-up {
      padding: 2rem 8rem 2rem 0;
    }
    &::marker {
      display: none;
    }
  }

  .accordion__quesion {
    cursor: pointer;
    position: relative;

    font-size: 1.8rem;
    line-height: 120%;
    font-weight: 700;
    color: var(--Rich-Black);
    font-family: var(--font-text);
    @include lg-up {
      font-size: 2rem;
    }
    line-height: 1; // Mobile line height first
    &::marker {
      font-size: 0;
    }
    .icon {
      content: " ";
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      background-color: transparent;
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(calc(-50% + 1px));
      right: 0;
      @include lg-up {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
    &::before,
    &::after {
      content: " ";
      width: 10px;
      height: 1.2px;
      display: inline-block;
      position: absolute;
      right: 0.7rem;
      transform: none; // Mobile transform first
      transition: 0.3s all ease;
      background-color: var(--Deep-Blue);
      background-image: none;
      border-radius: 50vh;
      z-index: 1;
      top: calc(50%);
      transform: translateY(-50%);
      @include lg-up {
        top: 50%;
        width: 14px;
        height: 2px;
        right: 9px;
      }
    }
    &::before {
      transform: rotate(-90deg);
    }
    &::after {
      transform: translateY(calc(-50% + 0.8px));
      @include lg-up {
        transform: translateY(calc(-50% + 1.2px));
      }
    }
  }

  .accordion__answer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include lg-up {
      gap: 2rem;
    }

    p,
    ul li,
    a {
      font-size: 1.8rem;
      line-height: 140%;
      color: black;
      @include lg-up {
        font-size: 2rem;
      }
    }
    ul {
      list-style: disc;
      padding-left: 2rem;
    }
    .btn-item {
      align-self: flex-start;
    }
  }

  &.accordion__item {
    transition: 0.3s all ease;
    background-color: white;
    border-bottom: solid 1px var(--Deep-Blue);
  }

  &.accordion__item[open] {
    .accordion__answer {
      padding: 1.2rem 6.4rem 1rem 0;
      @include md-up {
        padding: 1.2rem 8rem 1.2rem 0;
      }
      @include lg-up {
        padding: 1.2rem 8rem 1.3rem 0;
      }
    }

    .accordion__quesion {
      &::after {
        transform: rotate(180deg);
      }
      &::before {
        transform-origin: center;
        transform: rotate(0);
      }
    }
  }
}
