@import "rn-hero";
@import "rn-3d-simulation";
@import "rn-before-after-slider-tab";
@import "rn-pricing";
@import "rn-doctor";
@import "rn-steps";
@import "rn-testmonial";
@import "rn-google-reviews";
@import "rn-image-gallery";
@import "rn-clinic-intro";
@import "rn-how-it-works";
@import "rn-faq";